<div class="container-fluid wrapper">
    <br>
    <br>
    <br>
    <div class="row center">
        <div class="col-6 col-lg-3">
            <div class="sidenav">
                {{#if data}}
                <h3 class="text-center bold">Your Workouts</h3>
                <hr>
                {{#each data}}
                <div class="relative">

                    <button type="button"
                        class="btn btn-outline-dark btn-lg btn-block font-weight-bold viewWorkout my-1"
                        data-id={{_id}}>{{workout}} <span data-id={{_id}} class="delete">X</span></button>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="col-6 col-lg-6">
            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Track your Workouts</h5>
                    <p class="card-text">Add a new Workout Session along with all the excercises to keep track of your
                        Fitness Schedule</p>
                    <button id="addWorkout" class="btn btn-dark">Add Workout</button>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
        <div class="col-0 col-lg-3"></div>
    </div>
</div>