<div class="container-fluid wrapper">
    <br>
    <br>
    <br>
    <div class="row center">
        <div class="col-2"></div>
        <div class="col-1"></div>
        <div class="col-6">

            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5>Workout Type</h5>
                    <button class="btn btn-dark" id="resistance">Resitance</button>
                    <button class="btn btn-dark" id="cardio">Cardio</button>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
    </div>
</div>