html, body{
    max-height: 100vh !important;
}
.sidenav{
    height: 500px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.sidenav::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .sidenav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .sidenav::-webkit-scrollbar-thumb {
    background: #b5b5b6; 
    border-radius: 10px;
  }
  a{
      text-decoration: none;
      color: inherit;
  }
  .relative{
      position: relative;
  }
  .delete{
      position: absolute;
      right: 10px;
      color: rgb(41, 18, 18);
      border: solid 1px #343a40;
      padding: 1px;
      border-radius: 5px;;
  }
  .delete:hover{
      cursor: pointer;
      color: white;
      border-color: white;
  }
